<launch>
    <arg name="enable_imu_trigger" default="false"/>
    <node pkg="nodelet" type="nodelet" name="vision_nodelet" args="manager"
          output="screen" respawn="true" respawn_delay="3"/>
    <node pkg="nodelet" type="nodelet" name="hk_camera"
          args="load hk_camera/HKCameraNodelet vision_nodelet"
          output="screen" respawn="true" respawn_delay="3">
        <rosparam command="load" file="$(find hk_camera)/config/hk_camera_config.yaml" />
        <remap from="/image_rect" to="/image_rect" />
    </node>
    <node pkg="nodelet" type="nodelet" name="vision_nodelet_back" args="manager"
          output="screen" respawn="true" respawn_delay="3"/>
    <node pkg="nodelet" type="nodelet" name="hk_camera_back"
          args="load hk_camera/HKCameraNodelet vision_nodelet_back"
          output="screen" respawn="true" respawn_delay="3">
        <rosparam command="load" file="$(find hk_camera)/config/hk_camera_back_config.yaml" />
        <remap from="/image_rect" to="/image_rect_back" />
    </node>

</launch>
