<launch>
    <arg name="enable_imu_trigger" default="false"/>
    <node pkg="nodelet" type="nodelet" name="vision_nodelet" args="manager"
          output="screen" respawn="true" respawn_delay="3"/>
    <node pkg="nodelet" type="nodelet" name="hk_camera"
          args="load hk_camera/HKCameraNodelet vision_nodelet"
          output="screen" respawn="true" respawn_delay="3">
        <rosparam command="load" file="$(find hk_camera)/config/hk_camera_config.yaml" />
        <remap from="/hk_camera/imu_trigger" to="/rm_ecat_hw/imu_trigger"/>
    </node>
</launch>